{% load django_bootstrap5 django_bootstrap_input_group %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Input Group Demo</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {{ form.media }}
    <style>
      #content {
        width: 80%;
        margin-left: auto;
        margin-right:auto;
        margin-top: 20px;
      }

      .submit-row {
        display: flex;
        flex-direction: row-reverse;
        gap: 5px;
      }
    </style>
  </head>
  <body>
    <div id="content">
    <header><h2>Order Menu</h2><small> (layout: {{ layout|default:"default" }})</small></header>
    <nav>
        <a class="btn btn-secondary" href="{{ switch_url }}" style="float: right;">{{ switch_text }}</a>
        <ul class="nav nav-pills">
            {% url url_name as menu_url %}
            <li class="nav-item"><a class="nav-link" href="{% url url_name 'default' %}">default layout</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url url_name 'horizontal' %}">horizontal layout</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url url_name 'floating' %}">floating layout</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url url_name 'inline' %}">inline layout</a></li>
        </ul>
    </nav>
    <hr>
    <form>
        {% if is_formset %}
            {% bootstrap_grouped_formset form layout=layout %}
        {% else %}
            {% bootstrap_grouped_form form layout=layout %}
        {% endif %}
        <div class="submit-row">
          <input type="submit" class="btn btn-success" value="Ok!">
          <input type="reset" class="btn btn-danger" value="I don't like SPAM!">
        </div>
    </form>
    </div>
  </body>
</html>